@font-face {
  font-family: 'MesloLGS NF';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/MesloLGSNF/MesloLGS-NF-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MesloLGS NF';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/MesloLGSNF/MesloLGS-NF-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'MesloLGS NF';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/MesloLGSNF/MesloLGS-NF-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'MesloLGS NF';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/MesloLGSNF/MesloLGS-NF-Bold-Italic.woff2') format('woff2');
}
